@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('/Hack/hack.css');
@import 'tailwindcss';

@font-face {
	font-family: 'Alpha centauri';
	src: url('/Alphacentauri.ttf')
}

:root {
	--cl: #0b121c
}

* {
	box-sizing: border-box
}

*::selection {
	color: #05090e;
	background: var(--color-lime-200)
}

body {
	font-family: 'Maven Pro';
	font-size: var(--text-lg);
	color: #e7f0ea;
	caret-color: #e7f0ea;
	background: #05090e
}

.font-alphacentauri { font-family: 'Alpha centauri' }
.font-hack { font-family: 'Hack' }

a { text-decoration: underline }
a:hover { color: var(--color-lime-200) }

.focus\:input-shadow:focus { box-shadow: 0 0 0 .25rem color-mix(in oklch, var(--color-lime-200), rgba(0, 0, 0, .6)) }

h2o
